/*
*   Styles for category and price filtering
*/

/* Main filtrate container */
.filter {
    background-color: white;
    width: 18rem;
    border-radius: 0.5rem;
    padding: 1rem;
    height: fit-content;
    margin-right: 2rem;
}

/* Filtering container by category */
.filter__field {
    margin-bottom: 2rem;
}

/* Filter title by category */
.filter__field h4 {
    margin-bottom: 0.25rem;
}

/* List of categories */
.filter__categories {
    margin-top: 0.5rem;
}

/* Category list item */
.filter__categories li {
    margin-top: 0.5rem;
}

.filter__categories input[type="checkbox"] {
    cursor: pointer;
    margin-right: 0.25rem;
}

/* Quantity of products per category */
.filter__categories span {
    font-weight: 400;
}

.filter__categories input[type="checkbox"]:checked + span {
    font-weight: 600;
}

/* List item filter by price */
.filter__prices li {
    margin-top: 0.8rem;
    text-decoration: underline;
    text-underline-position: under;
}

/* Filter item text by price */
.filter__prices li label {
    cursor: pointer;
}

/* Radio input */
.filter__prices li input {
    display: none;
}

.filter__prices li input:checked ~ label {
    font-weight: 600;
}

/* Custom price filtering container */
.filter__prices-custom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
}

/* Custom price filtering fields */
.filter__prices-custom input {
    width: 40%;
    padding: 0.5rem;
}

/* Filter Button Container (Reset & Search) */
.filter__container-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Search button */
.filter__btn {
    cursor: pointer;
    border: 2px solid;
    border-color: rgba(255, 0, 0, 0.5) rgba(255, 166, 0, 0.5) rgba(255, 0, 0, 0.5) rgba(255, 166, 0, 0.5);
    border-radius: 0.5rem;
    background-color: transparent;
    width: 6.5rem;
    height: 2.5rem;
    padding: 0.5rem;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 12pt;
    color: dimgray;
    /* margin-top: 1rem; */
}

.filter__btn:hover {
    color: white;
    text-shadow: 0px 0px 3px dimgray;
    background: linear-gradient(to right, rgba(255, 166, 0, 0.5), rgba(255, 0, 0, 0.5));
}

/* Reset button */
.filter__btn-reset {
    border-color: dimgray;
}

.filter__btn-reset:hover {
    color: white;
    background-image: none;
    background-color: dimgray;
    border-color: dimgray;
}